.home {
    background-image: url('https://pentagram-production.imgix.net/de996aa4-5343-4200-a466-ab8fc7eafa80/am_amex_08.jpg?rect=%2C%2C%2C&w=740&fm=jpg&q=70&auto=format');
    color: white;
    text-align: center;
    min-height: 600px;
    height: 175vh;
}